Repository shinolab/autd3-old-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: rust, cpp, cs, python

fix #230
  .github/workflows/build.yml
  CHANGELOG.md
  build.py
  src/autd3-driver/src/error.rs
  src/autd3-driver/src/geometry/device.rs
  src/autd3-driver/src/geometry/mod.rs
  src/autd3-gain-holo/Cargo.toml
  src/autd3-gain-holo/src/amp.rs
Due: rust

fix #231
  CHANGELOG.md
  capi/autd3capi/src/modulation/mod.rs
  capi/autd3capi/src/modulation/sine.rs
  capi/autd3capi/src/modulation/square.rs
  cpp/include/autd3.hpp
  cpp/include/autd3/internal/native_methods/autd3capi.h
  cpp/include/autd3/modulation/sine.hpp
  cpp/include/autd3/modulation/square.hpp
  cpp/tests/modulation/sine.cpp
  cpp/tests/modulation/square.cpp
  dotnet/cs/src/Modulation/Sine.cs
  dotnet/cs/src/Modulation/Square.cs
  dotnet/cs/src/NativeMethods/Base.cs
  dotnet/cs/tests/Modulation/SineTest.cs
  dotnet/cs/tests/Modulation/SquareTest.cs
  dotnet/unity/Assets/Scripts/NativeMethods/Base.cs
  python/pyautd3/modulation/__init__.py
  python/pyautd3/modulation/sine.py
  python/pyautd3/modulation/square.py
  python/pyautd3/native_methods/autd3capi.py
  python/tests/modulation/test_sine.py
  python/tests/modulation/test_square.py
  src/autd3/src/modulation/mod.rs
  src/autd3/src/modulation/sampling_mode.rs
  src/autd3/src/modulation/sine.rs
  src/autd3/src/modulation/square.rs
  src/autd3/src/prelude.rs
Due: rust, cpp, cs, python

update coverage.yml
  .github/workflows/coverage.yml
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

fix dotnet examples
  dotnet/cs/example/Samples/Flag.cs
  dotnet/fs/example/Samples/Flag.fs
  dotnet/fs/example/Samples/GroupTest.fs
Due: none

exclude autd3-link-soem if npcap is not installed
  build.py
Due: none

Path conditions:
  rust: any of: src/**/*.rs
  cpp: any of: cpp/include/autd3/**/*.hpp
  cs: any of: dotnet/cs/src/**/*.cs
  python: any of: python/pyautd3/**/*.py
