Repository shinolab/autd3-old-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

flags:
  rust:
    paths:
      - src/
    carryforward: false
  python:
    paths:
      - python/
    carryforward: false

add coverage badge
  README.md
Due: none

add cs cov
  .github/workflows/coverage.yml
  README.md
  build.py
  codecov.yml
  dotnet/cs/.gitignore
Due: none

add cpp coverage
  .github/workflows/coverage.yml
  README.md
  build.py
  codecov.yml
  cpp/tests/CMakeLists.txt
Due: none

fix #237
  CHANGELOG.md
  cpp/CMakeLists.txt
Due: none

exclude unnecessary dir
  build.py
Due: none

pyautd3 coverage 100%
  build.py
  python/.coveragerc
  python/pyautd3/autd.py
  python/pyautd3/autd_error.py
  python/pyautd3/geometry.py
  python/pyautd3/link/simulator.py
  python/pyautd3/link/soem.py
  python/pyautd3/link/twincat.py
  python/tests/gain/holo/test_amp.py
  python/tests/gain/holo/test_backend.py
  python/tests/gain/holo/test_greedy.py
  python/tests/gain/holo/test_gs.py
  python/tests/gain/holo/test_gspat.py
  python/tests/gain/holo/test_lm.py
  python/tests/gain/holo/test_naive.py
  python/tests/gain/holo/test_sdp.py
  python/tests/gain/test_bessel.py
  python/tests/gain/test_focus.py
  python/tests/gain/test_group.py
  python/tests/gain/test_plane.py
  python/tests/internal/test_modulation.py
  python/tests/link/test_nop.py
  python/tests/link/test_simulator.py
  python/tests/link/test_soem.py
  python/tests/link/test_twincat.py
  python/tests/stm/test_stm.py
  python/tests/test_autd.py
  python/tests/test_geometry.py
  python/tests/test_phase.py
  python/tests/test_sampling_config.py
Due: python

update doc
  doc/src/jp/Users_Manual/getting_started/cpp.md
Due: none

close #232
  CHANGELOG.md
  server/simulator/src/imgui_renderer.rs
  server/simulator/src/viewer_settings.rs
Due: none

add pcap install check
  build.py
  python/tests/conftest.py
  python/tests/link/test_soem.py
Due: python

cpp cov 100%
  .github/workflows/coverage.yml
  cpp/include/autd3/gain/cache.hpp
  cpp/include/autd3/gain/gain.hpp
  cpp/include/autd3/gain/holo/backend.hpp
  cpp/include/autd3/internal/controller.hpp
  cpp/include/autd3/internal/drive.hpp
  cpp/include/autd3/internal/emit_intensity.hpp
  cpp/include/autd3/internal/gain.hpp
  cpp/include/autd3/internal/geometry/device.hpp
  cpp/include/autd3/internal/modulation.hpp
  cpp/include/autd3/internal/phase.hpp
  cpp/include/autd3/internal/stm.hpp
  cpp/include/autd3/link/audit.hpp
  cpp/include/autd3/modulation/cache.hpp
  cpp/include/autd3/modulation/fourier.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/gain/cache.cpp
  cpp/tests/gain/group.cpp
  cpp/tests/gain/holo/CMakeLists.txt
  cpp/tests/gain/holo/backend.cpp
  cpp/tests/modulation/audio_file/rawpcm.cpp
  cpp/tests/modulation/audio_file/wav.cpp
  cpp/tests/modulation/cache.cpp
  src/autd3/src/gain/cache.rs
Due: rust

add gain::Cache::init
  python/pyautd3/gain/cache.py
Due: python

add html option for cs cov
  .github/workflows/coverage.yml
  build.py
  dotnet/cs/.gitignore
Due: none

fix #238
  CHANGELOG.md
  dotnet/cs/src/Link/Simulator.cs
  dotnet/cs/src/NativeMethods/DefExt.cs
Due: none

add force_fan_ex
  firmware/src/cpu/inc/params.h
  firmware/src/cpu/src/app.c
  firmware/src/fpga/rtl/sources_1/new/controller/controller.sv
  firmware/src/fpga/rtl/sources_1/new/headers/params.vh
Due: none

add TAG_READS_FPGA_INFO
  firmware/src/cpu/inc/params.h
  firmware/src/cpu/src/app.c
Due: none

fix format
  firmware/src/cpu/src/app.c
Due: none

fix read_fpga_info logic
  firmware/src/cpu/src/app.c
Due: none

v4.1.0
  firmware/src/cpu/README.md
  firmware/src/fpga/README.md
Due: none
