Repository shinolab/autd3-old-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: rust, cpp, cs, python

v4.1.0
  firmware/src/cpu/README.md
  firmware/src/fpga/README.md
Due: none

update scripts
  firmware/autd_firmware_writer.ps1
  firmware/src/fpga/configuration.tcl
Due: none

fix read firmware info
  firmware/src/cpu/src/app.c
Due: none

update autd3-driver
  src/autd3-driver/src/cpu/datagram/tx.rs
  src/autd3-driver/src/cpu/header.rs
  src/autd3-driver/src/datagram/force_fan.rs
  src/autd3-driver/src/datagram/mod.rs
  src/autd3-driver/src/datagram/reads_fpga_info.rs
  src/autd3-driver/src/datagram/update_flag.rs
  src/autd3-driver/src/firmware_version.rs
  src/autd3-driver/src/fpga/fpga_flag.rs
  src/autd3-driver/src/fpga/mod.rs
  src/autd3-driver/src/geometry/device.rs
  src/autd3-driver/src/link.rs
  src/autd3-driver/src/operation/force_fan.rs
  src/autd3-driver/src/operation/mod.rs
  src/autd3-driver/src/operation/reads_fpga_info.rs
Due: rust

update src
  src/autd3-firmware-emulator/src/cpu/emulator.rs
  src/autd3-firmware-emulator/src/cpu/params.rs
  src/autd3/src/controller/mod.rs
  src/autd3/src/prelude.rs
  src/examples/src/tests/flag.rs
Due: rust

rm tests from capi
  .github/workflows/build.yml
  build.py
  capi/autd3capi-def/src/drive.rs
  capi/autd3capi-def/src/lib.rs
  capi/autd3capi-gain-holo/src/greedy.rs
  capi/autd3capi-gain-holo/src/gs.rs
  capi/autd3capi-gain-holo/src/gspat.rs
  capi/autd3capi-gain-holo/src/lm.rs
  capi/autd3capi-gain-holo/src/naive.rs
  capi/autd3capi-gain-holo/src/sdp.rs
  capi/autd3capi/src/gain/bessel.rs
  capi/autd3capi/src/gain/custom.rs
  capi/autd3capi/src/gain/focus.rs
  capi/autd3capi/src/gain/group.rs
  capi/autd3capi/src/gain/mod.rs
  capi/autd3capi/src/gain/null.rs
  capi/autd3capi/src/gain/plane.rs
  capi/autd3capi/src/gain/uniform.rs
  capi/autd3capi/src/geometry/device.rs
  capi/autd3capi/src/geometry/mod.rs
  capi/autd3capi/src/geometry/transducer.rs
  capi/autd3capi/src/lib.rs
  capi/autd3capi/src/link/audit.rs
  capi/autd3capi/src/modulation/cache.rs
  capi/autd3capi/src/modulation/custom.rs
  capi/autd3capi/src/modulation/fourier.rs
  capi/autd3capi/src/modulation/mod.rs
  capi/autd3capi/src/modulation/radiation_pressure.rs
  capi/autd3capi/src/modulation/sine.rs
  capi/autd3capi/src/modulation/square.rs
  capi/autd3capi/src/modulation/static.rs
  capi/autd3capi/src/stm/focus.rs
  capi/autd3capi/src/stm/gain.rs
  capi/autd3capi/src/stm/mod.rs
Due: none

fix firmware-emulator
  src/autd3-firmware-emulator/src/cpu/params.rs
  src/autd3-firmware-emulator/src/fpga/emulator.rs
  src/autd3-firmware-emulator/src/fpga/params.rs
Due: rust

rm depr method
  src/autd3/src/gain/cache.rs
Due: rust

update pyautd3
  capi/autd3capi-def/src/dynamic_datagram/debug.rs
  capi/autd3capi-def/src/dynamic_datagram/force_fan.rs
  capi/autd3capi-def/src/dynamic_datagram/mod.rs
  capi/autd3capi-def/src/dynamic_datagram/mod_delay.rs
  capi/autd3capi-def/src/dynamic_datagram/reads_fpga_info.rs
  capi/autd3capi-def/src/lib.rs
  capi/autd3capi-wrapper-generator/src/python.rs
  capi/autd3capi/src/geometry/device.rs
  capi/autd3capi/src/lib.rs
  capi/autd3capi/src/link/audit.rs
  python/example/remote_soem.py
  python/example/remote_twincat.py
  python/example/samples/flag.py
  python/example/simulator.py
  python/example/soem.py
  python/example/twincat.py
  python/pyautd3/__init__.py
  python/pyautd3/autd.py
  python/pyautd3/geometry.py
  python/pyautd3/link/audit.py
  python/pyautd3/native_methods/autd3capi.py
  python/tests/test_autd.py
  python/tests/test_geometry.py
Due: python

fix python examples
  python/example/remote_soem.py
  python/example/remote_twincat.py
  python/example/simulator.py
  python/example/soem.py
  python/example/twincat.py
Due: python

improve test speed
  python/pyautd3/link/simulator.py
  python/pyautd3/link/soem.py
  python/pyautd3/link/twincat.py
  python/tests/link/test_simulator.py
  python/tests/link/test_soem.py
  python/tests/link/test_twincat.py
Due: python

update AUTD3Sharp
  dotnet/cs/src/Controller.cs
  dotnet/cs/src/Device.cs
  dotnet/cs/src/Link/Audit.cs
  dotnet/cs/src/NativeMethods/Base.cs
  dotnet/cs/tests/AUTDTest.cs
  dotnet/cs/tests/GeometryTest.cs
  dotnet/cs/tests/Link/SOEMTest.cs
  dotnet/cs/tests/Link/SimulatorTest.cs
  dotnet/cs/tests/Link/TwinCATTest.cs
  dotnet/unity/Assets/Scripts/NativeMethods/Base.cs
Due: cs

fix cs tests
  build.py
  dotnet/cs/tests/Link/SOEMTest.cs
  dotnet/cs/tests/tests.csproj
Due: cs

update cpp lib
  cpp/examples/tests/flag.hpp
  cpp/include/autd3.hpp
  cpp/include/autd3/datagram/force_fan.hpp
  cpp/include/autd3/datagram/reads_fpga_info.hpp
  cpp/include/autd3/internal/datagram.hpp
  cpp/include/autd3/internal/geometry/device.hpp
  cpp/include/autd3/internal/native_methods/autd3capi.h
  cpp/include/autd3/link/audit.hpp
  cpp/tests/internal/controller.cpp
  cpp/tests/internal/datagram.cpp
  cpp/tests/internal/firmware_info.cpp
  cpp/tests/internal/fpga_info.cpp
  cpp/tests/internal/geometry/device.cpp
Due: cpp

update doc
  doc/src/codes/Users_Manual/controller_0.cpp
  doc/src/codes/Users_Manual/controller_0.cs
  doc/src/codes/Users_Manual/controller_0.py
  doc/src/codes/Users_Manual/controller_fan.cpp
  doc/src/codes/Users_Manual/controller_fan.cs
  doc/src/codes/Users_Manual/controller_fan.py
  doc/src/codes/Users_Manual/controller_fan.rs
  doc/src/codes/Users_Manual/device_0.cpp
  doc/src/codes/Users_Manual/device_0.cs
  doc/src/codes/Users_Manual/device_0.py
  doc/src/codes/Users_Manual/device_0.rs
  doc/src/en/Users_Manual/controller.md
  doc/src/en/Users_Manual/geometry.md
  doc/src/jp/Users_Manual/controller.md
  doc/src/jp/Users_Manual/geometry.md
  src/autd3/src/gain/cache.rs
Due: rust

update unity
  dotnet/unity/Assets/Scripts/NativeMethods/DefExt.cs
Due: none

rm fpga flag from simulator
  server/simulator/src/imgui_renderer.rs
Due: none

fix test
  src/autd3/src/gain/cache.rs
Due: rust

update codecov settings
  .github/workflows/coverage.yml
  codecov.yml
Due: none

update cs cov
  dotnet/cs/src/Controller.cs
  dotnet/cs/src/Gain/Holo/BackendNalgebra.cs
  dotnet/cs/src/Modulation/Cache.cs
  dotnet/cs/tests/AUTDTest.cs
  dotnet/cs/tests/Modulation/CacheTest.cs
Due: cs

fix #230
  .github/workflows/build.yml
  CHANGELOG.md
  build.py
  src/autd3-driver/src/error.rs
  src/autd3-driver/src/geometry/device.rs
  src/autd3-driver/src/geometry/mod.rs
  src/autd3-gain-holo/Cargo.toml
  src/autd3-gain-holo/src/amp.rs
Due: rust

Path conditions:
  rust: any of: src/
  cpp: any of: cpp/
  cs: any of: dotnet/cs/
  python: any of: python/
